<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.onpressure.projeto.onpressure">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.CadastroActivity"
            android:label="SobPressão"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.PerfilActivity"
            android:screenOrientation="portrait"
            android:label="Seu Perfil" />
        <activity
            android:name=".Activities.CalculoImcActivity"
            android:screenOrientation="portrait"
            android:label="Calcular IMC" />
        <activity
            android:name=".Activities.PressaoArterialActivity"
            android:screenOrientation="portrait"
            android:label="Registrar Pressão Arterial" />
        />
        <activity
            android:name=".Activities.LembretesActivity"
            android:screenOrientation="portrait"
            android:label="Lembretes" />
        />
        <activity
            android:name=".Activities.SintomasActivity"
            android:screenOrientation="portrait"
            android:label="Sintomas" />
        />
        <activity
            android:name=".Activities.AlimentosActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:label="Alimentação" />
        />
        <activity
            android:name=".Activities.AberturaActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppCompat.TelaCheia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        />
        <activity
            android:name=".Activities.GraficosActivity"
            android:screenOrientation="portrait"
            android:label="Gráficos" />
        <activity
            android:name=".Activities.HistoricoActivity"
            android:screenOrientation="portrait"
            android:label="Histórico" />
        <![CDATA[/>/>]]>

        <receiver android:name=".Componentes.AlarmReceiver"></receiver>

        <activity
            android:name=".Activities.FaleConoscoActivity"
            android:screenOrientation="portrait"
            android:label="Fale Conosco"></activity>
    </application>

</manifest>